/* Paginas */
@import url(pages/about.css);
@import url(pages/animations.css);
@import url(pages/diferenciais.css);
@import url(pages/footer.css);
@import url(pages/form.css);
@import url(pages/hero.css);
@import url(pages/portfolio.css);
@import url(pages/section.css);
@import url(pages/services.css);
@import url(pages/testimonials.css);
@import url(pages/whatsapp-btn.css);


@import url(global.css);
@import url(utillity.css);
